.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90vh;

  // margin-left: 88px;
  .text-zone {
    h1 {
      // color: #fff;
      // color: #ec795a;
      color: #f5f3f4;

      font-size: 68px;
      line-height: 68px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
      letter-spacing: 5px;
      text-align: center;

      img {
        margin-left: 20px;
        margin-right: 3px;
        opacity: 0;
        width: 36px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
      }
    }

    h2 {
      // color: #8d8d8d;
      color: #ec795a;
      margin-top: 20px;
      font-weight: 400;
      font-size: 28px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
      text-align: center;
    }
    .links-mainpage {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 40px;
      // align-items: end;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-page {
    .text-zone {
      h1 {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 3px;
        margin: 10px 0;
        img {
          width: 22px;
        }
      }
      h2 {
        font-size: 20px;
        letter-spacing: 2px;
      }
    }
  }
  // .tags,
  // .home-page h1:before,
  // .home-page h1:after {
  //   display: none;
  // }

  // .home-page .text-zone {
  //   position: initial;
  //   width: 100%;
  //   transform: none;
  //   padding: 10px;
  //   box-sizing: border-box;
  // }

  // .home-page .flat-button {
  //   float: none;
  //   display: block;
  //   margin: 20px auto 0 auto;
  //   width: 124px;
  // }

  // .logo-container {
  //   position: relative;
  //   width: 100px;
  //   height: auto;
  //   top: 50px;
  //   right: 0;
  //   box-sizing: border-box;
  //   margin: auto;
  //   left: 0;
  // }
}
