html {
  scroll-behavior: smooth;
}
:root {
  --black-gradient: linear-gradient(
    -144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --bg-color: #0d0d0d;
  --accent-orange: #ec795a;
}
body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #ec795a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);

  overflow: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  body {
    overflow: visible;
  }
}
